<p *ngIf="isDeletd && !edit" cardedit class="card list-card" draggable="true" (dragstart)="dragStart($event)" id="{{card.id}}" (click)="changeValue(card.cardname)">
    
    {{card.cardname}}

    <button class="close col-sm-1" mat-button (click)="deleteCardValue(card.id)">X</button>

</p>
   
<div class="mb-2" [hidden]="!edit">

    <form [formGroup]="editcardform" >

        <input #cardedit formControlName="cardedit" type="text" (keyup.enter)="editCard(card.id,cardedit.value)"  class="form-control input-list input-box" [ngClass]="{ 'is-invalid': submitted && f.cardedit.errors }" >
        <div *ngIf="submitted && f.cardedit.errors" class="invalid-feedback">
          <div *ngIf="f.cardedit.errors.required">Name is Mandatory</div>
        </div>
        </form>
    
  </div>